/* CSS-Grid form formatting
    grid specifies that CSS-Grid is used
    gab distance between row/column
    template-columns allows one to specify the physical of each column in the grid
*/
.grid-form {
    display: grid;
    grid-row-gap: 7px;
    grid-template-columns: max-content auto;
    grid-column-gap: 10px;
}

    /* the >* means everything within the grid-form
    the grid-column has 2 parameter values column to start in / span 2 more columns
    (in total the row will have 3 columns)
*/
.grid-form > * {
    grid-column: 2 / span 2;
}

/* refining items within grid-form using specific html tag names
any label tag within grid-form will start in column 1
*/
.grid-form > label {
    grid-column: 1;
    text-align: left;
}

.grid-form > input[type=checkbox] {
    grid-column: 1;
}

.grid-form > input[type=checkbox] + label {
    grid-column: 2 / span 2;
    text-align: left;
}

/* Movie Library page */

.grid-form2 {
    display: grid;
    grid-row-gap: 7px;
    grid-template-columns: max-content 15px max-content max-content;
    grid-column-gap: 10px;
}

.grid-form2 > * {
    grid-column: 2 / span 2;
}

.grid-form2 > label {
    grid-column: 1;
    text-align: left;
}

.grid-form2 > input[type=submit] {
    grid-column: 4;
}

.grid-form2 input[type=text]:first-of-type {
    grid-column: 2 / span 3;
}

.grid-form2 input[type=radio]{
    margin-right: 8px;
    vertical-align: top;
}

/* CD Library page */
.grid-cdpage {
    display: grid;
    grid-row-gap: 7px;
    grid-template-columns: max-content max-content auto;
    grid-column-gap: 10px;
}

.grid-cdpage > * {
    grid-column: 2 / span 2;
}

.grid-cdpage > label {
    grid-column: 1;
    text-align: left;
}

.grid-cdpage > input[type=submit] {
    grid-column: 2;
}

.grid-cdpage input[type=text]:nth-of-type(5),
.grid-cdpage input[type=text]:nth-of-type(4) {
    grid-column: 2;
}

textarea {
    resize:none;
}