@{
    Page.Title = "Check Boxes";
    Layout = "~/_LayoutPage.cshtml";
}

@section banner
{
    <h1>Check Boxes</h1>
}

    <div>
        <form id="theForm" action="" method="post">
            <div class="col-md-offset-1">
                <label id="forCheckBoxGroup">Select your favourite gaming platform.</label><br />
                <input type="checkbox" name="CheckBoxGroup" value="PS4" />&nbsp;PS4<br />
                <input type="checkbox" name="CheckBoxGroup" value="PC" />&nbsp;PC<br />
                <input type="checkbox" name="CheckBoxGroup" value="XBox One" />&nbsp;XBox One<br />
                <input type="checkbox" name="CheckBoxGroup" value="Nintendo 3DS" />&nbsp;Nintendo 3DS<br />
                <input type="checkbox" name="CheckBoxGroup" value="Cell" />&nbsp;Cellphone<br />
                <input type="checkbox" name="CheckBoxGroup" value="iPad" />&nbsp;iPad<br />
                <input type="checkbox" name="CheckBoxGroup" value="Wii" />&nbsp;Wii<br />
                <br/>
                <button type="submit" name="formButton" value="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>